{
    "presets": [
        [
            "env",
            {
                "modules": "commonjs",
            }
        ]
    ],
    "env": {
        "debug": {
            "retainLines": true
        }
    }
}